html {
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
.tablecolumn:hover {
  background-color: rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

tspan {
  white-space: pre;
}
.shp0 {
  fill: #439be3;
}
.shp1 {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 50;
}
.shp2 {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 100;
}
.shp3 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 50;
}

.loadingconnection tspan {
  white-space: pre;
}

.loadingconnection .shp1 {
  fill: #439be3;
  stroke: #439be3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 50;
}
.loadingconnection .shp2 {
  fill: none;
  stroke: #439be3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 50;
}
.loadingconnection .shp3 {
  fill: none;
  stroke: #439be3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 100;
}

@keyframes streepjes {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingconnection #streepje1 {
  animation: streepjes 1.5s ease-in-out infinite;
}

.loadingconnection #streepje2 {
  opacity: 0;
  animation: streepjes 1.5s ease-in-out infinite;
  animation-delay: 250ms;
}

.loadingconnection #streepje3 {
  opacity: 0;
  animation: streepjes 1.5s ease-in-out infinite;
  animation-delay: 500ms;
}

@keyframes bolletje1 {
  0% {
    transform: translate(-60px, -30px);
  }
  50% {
    transform: translate(60px, 30px);
  }
  100% {
    transform: translate(-60px, -30px);
  }
}

.loadingconnection #bolletje1 {
  animation: bolletje1 1.5s ease-in-out infinite;
  animation-delay: -600ms;
}

@keyframes bolletje2 {
  0% {
    transform: translate(-40px, -30px);
  }
  50% {
    transform: translate(60px, 45px);
  }
  100% {
    transform: translate(-40px, -30px);
  }
}

.loadingconnection #bolletje2 {
  animation: bolletje2 1.5s ease-in-out infinite;
  animation-delay: -1900ms;
}

@keyframes bolletje3 {
  0% {
    transform: translate(-20px, -30px);
  }
  50% {
    transform: translate(45px, 65px);
  }
  100% {
    transform: translate(-20px, -30px);
  }
}

.loadingconnection #bolletje3 {
  animation: bolletje3 1.5s ease-in-out infinite;
  animation-delay: -1700ms;
}

@keyframes bolletje4 {
  0% {
    transform: translate(-3px, -12px);
  }
  50% {
    transform: translate(20px, 80px);
  }
  100% {
    transform: translate(-3px, -12px);
  }
}

.loadingconnection #bolletje4 {
  animation: bolletje4 1.5s ease-in-out infinite;
  animation-delay: -1600ms;
}

.key__button {
  box-sizing: border-box;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  width: 30px;
  color: rgb(65, 65, 65);
  cursor: pointer;
  margin: 0 8px;
  height: 30px;
  border-color: #f2f2f2;
  border-style: solid;
  text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
  border-width: 1px;
  border-radius: 5px;
  background: -webkit-linear-gradient(
    top,
    #f9f9f9 0%,
    #d2d2d2 80%,
    #c0c0c0 100%
  );
  font-family: sans-serif;
  display: inline-block;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25),
    -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
}

.taskbarSelect option {
  color: RGBA(0, 0, 0, 0.64);
}
